@import 'normalize';

// Variables

$black: rgb(19,30,29);
$white: #F5F5F5;
$lightGrey: #EEE;
$grey: #DDD;
$darkGrey: #555;

$orange: #b76724;
$darkOrange: #944300;
$brown: #974c18;
$yellow: #ddb067;
$blue: #78a8bc;
$lightBlue: #bfdbde;
$darkBlue: #131e1d;

$brandColor: #d05f01;

/*! Bit Umbrella Styles */

// Base Styles

html
{
    box-sizing: border-box;
    font-size: 90%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  

body
{
    color: $black;
    font-family: 'Montserrat', sans-serif;
}

a
{
    color: $white;
    -webkit-tap-highlight-color: rgba(208,95,1,.15);
}

a:focus
{
    outline: none;
}

// Utility Classes

.buu-button
{
    /* Button Reset */
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: rgba(208,95,1,.15);
    text-shadow: 0 0 2px $black;
}

.buu-wrap
{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    width: 100%;
}

.buu-wrap--header
{
    padding: 1rem;
}

.buu-wrap--folder
{
    max-width: 1920px;
    padding: 0;
}

.buu-paragraph
{
    line-height: 2;
    font-size: 1rem;
}

.buu-link--dark
{
    color: $darkGrey;
}

.buu-disclaimer
{
    font-weight: 300;
    margin: 0;
}

.buu-paragraph--leadership
{
    line-height: 1.75;
    margin: 2rem 0 1rem;
}

.buu-subheader,
.buu-meta
{
    display: block;
}

.buu-subheader
{
    font-weight: bold;
}

.buu-meta
{
    font-size: .9rem;
    font-weight: 300;
}

// Site Styles

$logoBlock: 5rem;
$logoBlockLarge: 7rem;

.bu-logoBlock
{
    align-items: center;
    background: $brandColor;
    display: flex;
    padding: 1rem;
    position: absolute;
    transition: transform 200ms;
    width: $logoBlock;

    /* Trying something */
    height: calc(100% + 1.75rem);
    left: .5rem;
    border-radius: 0 0 .25rem .25rem;
    padding: 1.75rem .75rem 1rem;
    top: -.75rem;

    &:hover
    {
        transform: translateY(.25rem);
    }

    &:focus
    {
        transform: translateY(0);
    }

    &:active
    {
        transform: translateY(.5rem);
    }
}

.bu-logoBlock-logo
{
    width: 100%;
}

.bu-header
{
    background: rgba(19,30,19,.25);
    border-bottom: 1px solid rgba(255,255,255,.15);
    color: $white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background 400ms;
    z-index: 3;
}

.buu-header--scrolled
{
    background: rgba(19,30,19,.65);
}

.bu-header-inner
{
    display: flex;
    align-items: center;
}

.bu-header-name
{
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 3rem 0 ($logoBlock + .5rem);
}

.bu-navigation
{
    background: $white;
    border-left: 1px solid $grey;
    bottom: 0;
    left: 33%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 3.75rem;
    transform: rotateY(60deg);
    transform-origin: right;
    transition: transform 200ms, opacity 133ms linear;
    z-index: 4;
}

.bu-navigation-toggle
{
    align-items: center;
    color: white;
    display: flex;
    outline: none;
    pointer-events: auto;
    position: absolute;
    padding: 0.875rem 1rem;
    // right: -1.25rem;
    right: 0;
    top: 0;
    transition: right 200ms, background 133ms linear, color 200ms linear;
}

.bu-navigation-icon
{
    height: 2rem;
    width: 2rem;
}

.bu-navigation--open
{
    .bu-navigation {
        opacity: 1;
        pointer-events: auto;
        transform: rotateY(0deg);
    }

    .bu-navigation-toggle {
        color: $black;
        background: $white;
        right: 0rem;
    }
}

.bu-navigation-link
{
    border: 2px solid transparent;
    display: block;
    color: $black;
    padding: 1rem 2rem;
    text-align: right;
    text-decoration: none;
    transition: text-shadow 400ms;

    &:first-child {
        margin-top: .5rem;
    }

    &:focus,
    &:active
    {
        text-shadow: 0 0 16px rgba(19,30,19,.65);
    }
}

.bu-navigation-link--contactUs
{
    color: $white;
    background: $brandColor;
    border-radius: .5rem;
    margin: .5rem 0 .5rem 1rem;
    padding: 1rem 3rem 1rem 1rem;
    text-shadow: 0 0 2px $black;

    &:last-child
    {
        margin-right: -1rem;
    }

    &:focus,
    &:hover
    {
        border: 2px solid rgba(255,255,255,.25);
    }
}

.buu-paragraph--intro
{
    margin-bottom: 3rem;
}

.bu-viewNext
{
    text-align: center;
}

.bu-viewNext-link
{
    display: inline-block;
}

.bu-viewNext-icon
{
    height: 2.75rem;
    width: 2.75rem;
}

.bu-footer,
.bu-section
{
    padding: 2rem 0;
}

.bu-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    padding: 3.6875rem 0 2rem;
    z-index: 2;
}

// Out of place media query for cascading reasons
@media (min-width: 600px) {
    .bu-section
    {
        min-height: 75vh;
    }
}

.bu-section-header
{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 0;
    text-align: center;
}

$hrWidth: 6rem;

.bu-section-header--hr
{
    margin-bottom: 5rem;
    position: relative;

    &::after {
        content: "";
        height: 2px;
        background: rgba(19,30,19,.25);
        position: absolute;
        bottom: -2rem;
        left: calc(50% - #{$hrWidth * 0.5});
        width: $hrWidth;
    }
}

.bu-section-header--hr--leadership,
.bu-section-header--hr--contact
{
    &::after {
        background: rgba(255,255,255,.25);
    }
}

.bu-footer-inner
{
    text-align: center;
}

.bu-sectionWrap
{
    z-index: 1;
}

.bu-sectionWrap--intro
{
    // Removed webp due to poor browser support
    // background: url('../img/umbrellas_sh.webp') no-repeat center top;
    background: url('../img/umbrellas_sh.jpg') no-repeat center top;
    background-size: auto;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

// Section Styling

.bu-section--welcome
{
    background: rgba(0,0,0,.75);
    color: $white;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.bu-section--doctrine
{
    background: $lightGrey;
    margin-top: 100vh;
    min-height: 100vh;
}

.bu-section--services
{
    background: $lightBlue;
    min-height: 100vh;
}

.bu-section--leadership
{
    color: $white;
    background: $orange;
}

.bu-section--contactUs
{
    background: $darkBlue;
    box-shadow: inset 0 1rem 2rem rgba(19,30,19,.25), inset 0 -1rem .5rem rgba(19,30,19,.25);
    color: $white;
}

.bu-footer
{
    background: $orange;
    color: $white;
}

.bu-fold
{
    background: #FFF;
    box-shadow: 0 .5rem 1rem rgba(19,30,19,.1);
    margin: 1rem 1rem 2rem;
    padding: 2rem 3rem;
}

.bu-folder--serviced
{
    background: #FFF;
    box-shadow: 0 .5rem 1rem rgba(19,30,19,.1);
    margin: 1rem 1rem 0;
}

.bu-fold--fourth
{
    background: none;
    border: none;
    box-shadow: none;
    padding: 1rem 0 0;

    &:last-child
    {
        padding-bottom: 1.5rem;
    }
}

.bu-fold--leadership,
.bu-fold--contact
{
    background: none;
    border: none;
    box-shadow: none;
    margin: 1rem 0 2rem;
    padding: 4rem 0 0;
}

.bu-fold-headerWrap--leadership
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bu-fold-header
{
    text-align: center;
    margin-bottom: 3rem;
}

.bu-fold-header--leadership
{
    font-size: 1.8rem;
    margin-bottom: .75rem;
    font-weight: normal;
}

.bu-serviced
{
    font-size: 2rem;
    font-weight: 300;
    // margin: -3rem 0;
    text-align: center;
    text-transform: uppercase;
}

.bu-fold-blurb
{
    text-align: center;
}

.bu-fold-header--serviced
{
    font-size: 1.3rem;
    font-weight: 400;

    &::first-letter {
        font-weight: 700;
        // font-size: 2rem;
    }
}

.bu-fold-header--services
{
    align-items: center;
    justify-content: center;;
    display: flex;
}

.bu-icon--services
{
    height: 2rem;
    margin-right: 1rem;
    margin-left: -1.5rem;
    width: 2rem;
}

.buu-subheader--leadership
{
    margin: .25rem 0;
    font-weight: normal;
}

.bu-portrait
{
    border: 1px solid $darkOrange;
    border-radius: 50%;
    // box-shadow: 0 0 0.5rem rgba(255,255,255, .5);
    overflow: hidden;
}

.bu-portrait-img
{
    display: block;
    height: 120px;
    width: 120px;
}

/* Fix for picture element instead of img with webp */
.bu-portrait-img > source,
.bu-portrait-img > img
{
    width: 100%;
}

.bu-form
{
    margin-bottom: 1rem;
}

.bu-form-field
{
    margin-bottom: 1rem;
}

.bu-form-input,
.bu-form-textarea
{
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(255,255,255,.5);
    border-radius: .25rem;
    color: $white;
    padding: 1rem .75rem;
    transition: background 200ms, border 200ms, color 200ms;
    width: 100%;

    &:hover
    {
        border: 1px solid rgba(255,255,255, .65);
    }

    &:focus
    {
        background: rgba(255,255,255,.75);
        border: 1px solid rgba(255,255,255, .85);
        color: $black;
        outline: none;

        &::placeholder
        {
            color: $darkGrey;
        }
    }

    &::placeholder
    {
        color: rgba(255,255,255,.5);
    }
}

.bu-form-textarea
{
    line-height: 2;
    min-height: 10rem;
    padding: .5rem .75rem;
}

.bu-form-submitWrap
{
    text-align: center;
}

.bu-form-submit
{
    align-items: center;
    color: $white;
    background: $brandColor;
    border: 2px solid transparent;
    border-radius: .5rem;
    display: inline-flex;
    padding: 1rem 1.5rem 1rem 1.25rem;
    transition: border 200ms;

    &:focus,
    &:hover
    {
        border: 2px solid rgba(255,255,255,.25);
    }

    &:active
    {
        border: 2px solid $brandColor;
    }
}

.bu-form-submitIcon
{
    height: 1.5rem;
    margin-right: 1rem;
    width: 1.5rem;
}

.bu-map
{
    display: block;
    // Removed webp due to poor browser support
    // background: $white url('../img/map.webp') no-repeat center center;
    background: $white url('../img/map.jpg') no-repeat center center;
    height: 320px;
    width: 100%;
}

// Media Queries - mobile first

@media (min-width: 500px) {
    .bu-sectionWrap--intro
    {
        background-size: cover;
        background-position: center center;
    }

    .bu-folder--serviced
    {
        background: #FFF;
        box-shadow: 0 .5rem 1rem rgba(19,30,19,.1);
        display: flex;
        flex-wrap: wrap;
    }

    .bu-fold--fourth
    {
        background: none;
        border: none;
        box-shadow: none;
        padding: 1rem;
        margin: 0;
        width: 50%;
    }
}

@media (min-width: 600px) {
    .bu-section
    {
        padding: 7.4375rem 0 2rem;
    }

    .bu-section-header
    {
        font-size: 2rem;
    }
}

@media (min-width: 960px) {
    .bu-sectionWrap--intro
    {
        // Removed webp due to poor browser support
        // background: url('../img/umbrellas_s.webp') no-repeat center top;
        background: url('../img/umbrellas_s.jpg') no-repeat center top;
        background-size: cover;
        background-position: center center;
    }
}

@media (min-width: 1050px) {
    html
    {
        font-size: 100%;
    }

    .buu-wrap
    {
        padding: 1rem;
    }

    .buu-wrap--folder
    {
        padding: 0;
    }

    .bu-logoBlock
    {
        border-radius: 0 0 .5rem .5rem;
        height: $logoBlockLarge + .75rem;
        padding: 1.75rem 1rem 1rem;
        left: 1rem;
        top: -.75rem;
        width: $logoBlockLarge;

        &:hover
        {
            transform: translateY(.25rem);
        }

        &:focus
        {
            transform: translateY(0);
        }

        &:active
        {
            transform: translateY(.75rem);
        }
    }

    .bu-header-name
    {
        font-size: 2rem;
        margin: 0 0 0 ($logoBlockLarge + 1rem);
    }

    .bu-navigation-toggle
    {
        opacity: 0;
        pointer-events: none;
        right: -4rem;
        top: 0;
    }

    .bu-navigation
    {
        align-items: center;
        background: none;
        border: none;
        display: flex;
        opacity: 1;
        pointer-events: auto;
        position: static;
        transform: none;
    }

    .bu-navigation-link
    {
        border: 2px solid transparent;
        color: $white;
        padding: 1rem 2rem;
        text-decoration: none;

        &:first-child
        {
            margin-top: 0;
        }

        &:last-child
        {
            margin-right: 0;
        }

        &:hover,
        &:focus,
        &:active {
            text-shadow: 0 0 16px rgba(255,255,255,.5);
        }
    }

    .bu-navigation-link--contactUs
    {
        background: $brandColor;
        border-radius: .5rem;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        transition: border 200ms;

        &:focus,
        &:hover
        {
            border: 2px solid rgba(255,255,255,.25);
        }

        &:focus,
        &:active,
        &:hover {
            text-shadow: 0 0 2px $black;
        }
    }
}

@media (min-width: 1180px) {
    .buu-disclaimer
    {
        font-size: .9rem;
        font-weight: 300;
        margin: 2rem 0;
    }

    .bu-section--doctrine
    {
        background: $grey url('../img/doctrinebg2.svg') no-repeat center center;
        background-blend-mode: darken;
        background-size: cover;
    }

    .bu-folder
    {
        display: flex;
        flex-wrap: wrap;
    }

    .bu-folder--services,
    .bu-folder--serviced
    {
        box-shadow: 0 .5rem 1rem rgba(19,30,19,.1);
        margin-bottom: -2rem;
    }

    .bu-folder--serviced
    {
        margin: 1rem 0 0;
    }

    .bu-fold
    {
        border: 0;
        box-shadow: none;
        margin: 0;
        padding: 3rem 4rem;
    }

    .bu-fold--fourth
    {
        padding: 2rem 3rem;
        width: 25%;
    }

    .bu-fold--third
    {
        width: 33.333%;
    }

    .bu-fold--half
    {
        width: 50%;
    }

    .bu-fold--leadership
    {
        text-align: center;
    }

    .bu-form-submitWrap
    {
        text-align: left;
    }
}

@media (min-width: 1322px) {
    .bu-logoBlock
    {
        left: 0;
    }
}